.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.main-menu li {
  list-style-type: none;
}

.main-menu a {
  color: #fff;
}

.brand {
  font-size: 24px;
  color: #fff;
  letter-spacing: 3px;
}

.brand a {
  color: #fff;
  text-decoration: none;
}

