<section class="about">
  <h1><%= pageTitle %></h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium corporis optio, reiciendis
    dolore dolorum inventore quaerat doloribus quod corrupti alias! Vitae laboriosam minus excepturi
    maiores commodi debitis similique quisquam veritatis aliquid eum inventore culpa nobis accusamus
    sint libero, quasi perspiciatis magni quidem maxime expedita. Laborum esse ut expedita iusto
    maiores.
  </p>
</section>
