<section class="home">
  <div class="jumbotron">
    <h1><%= pageTitle %></h1>
    <p>
      The <a href="/blog">blog</a> contains various posts on web development. The
      <a href="learn">learn</a> section lists some good learning resources. In the work section I'm
      adding links to demo projects and finally, in the <a href="/about">about</a> section you will
      find some personal info.
    </p>
  </div>
</section>



